doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='../stylesheets/main.css')

  body.landing
    #page-wrapper
      // Header
      header#header.alt
        h1
          a=title2
        nav#nav
          ul
            li
              a(href='/admin/order') 訂單管理
            li
              a(href='/admin/store') 店家管理
            li
              a(href='/admin/menu') 菜單管理  
            li
              a(href='/admin/permissions') 權限管理
            li
              a(href='/admin/record') 訂購紀錄        
            li
              a.button(href='/') 登出
      // Banner
      section#banner
        //- h2 尊重·友善·包容
        //- p 滿滿的大平台
        //- ul.actions
          //- li
          //-   a.button.special(href='#') Sign Up
          //- li
          //-   a.button(href='#') Learn More
      // Main
      section#main.container
        section.box.special
          header.major
            h2
              | 訂購紀錄
              br
              | 
            //- p
            //-   | Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare
            //-   br
            //-   | 							adipiscing nunc adipiscing. Condimentum turpis massa.
          //- span.image.featured
          //-   img(src='images/back.png', alt='')
        
      // CTA
      section#cta
        h2 人人有餐訂
        p 斷開鎖鏈！斷開一切的牽連！
        //- form
          //- .row.uniform(class='50%')
          //-   .8u(class='12u(mobilep)')
          //-     input#email(type='email', name='email', placeholder='Email Address')
          //-   .4u(class='12u(mobilep)')
          //-     input.fit(type='submit', value='Sign Up')
      // Footer
      footer#footer
        ul.copyright
          li © ze. All rights reserved.
          li
            | Design:HTML5 UP
    //- // Scripts
    //- script(src='stylesheets/jquery.min.js')
    //- script(src='stylesheets/jquery.dropotron.min.js')
    //- script(src='stylesheets/jquery.scrollgress.min.js')
    //- script(src='stylesheets/skel.min.js')
    //- script(src='stylesheets/util.js')
    //- script(src='stylesheets/main.js')
