doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='stylesheets/main.css')

  body
    table.table.table-hover
      thead
        tr
          th add
          th unlock
          th lock
          th 店名
          th 主揪
          th 電話
          th 訂餐日期
        tbody
          th
            button.btn.btn-success(type='button') 點餐
          td 
            button.btn.btn-success(type='button') 解鎖
          td 
            button.btn.btn-success(type='button') 上鎖  
          
    
